@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center my-5">
    <h1 class="display-4">Bem-vindo</h1>
    <p class="lead">
        Selecione uma das opções abaixo para realizar uma operação.
    </p>
    <div class="text-center mt-4">
        <div class="col-md-6 offset-md-3">
            <div class="mb-4">
                <a href="/Cliente/Create" class="btn btn-primary btn-block btn-lg mb-2">Registrar Cliente</a>
            </div>
            <div class="mb-4">
                <a href="/Cliente/Index" class="btn btn-primary btn-block btn-lg mb-2">Listar Clientes</a>
            </div>
            <div class="mb-4">
                <a href="/Feedback/Create" class="btn btn-primary btn-block btn-lg mb-2">Criar Feedback</a>
            </div>
            <div class="mb-4">
                <a href="/Feedback/Index" class="btn btn-primary btn-block btn-lg mb-2">Listar Feedbacks</a>
            </div>
        </div>
    </div>


    
</div>
